
.todo-container{
  position:absolute;
  left: 400px;
  background: aqua;
  padding: 40px;
  padding-right: 50px;
  padding-top: 0px;
  text-align: center;
  margin-top: -200px;
  

}
.todo-container .row{
  margin-top: 40px;
}
.todo-container .row button{
  width: 60px;
  line-height: 15px;
  text-align: center;
  font-size: 0.8rem;
  
}
@media (max-width:600px){
  .todo-container{
    position:absolute;
    left: 50px;
    background: aqua;
    padding: 20px;
    padding-right: 50px;
    padding-top: 0px;
    margin-top: -200px;
    

  }
}

